<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <!--db provider配置文件路径-->
  <providers resource="Configs\ibatisConfig\providers.config"/>

  <!--db provider类型及连接串-->
  <database>
    <provider name="MySql" />
    <!--zs-->
    <!--正式-->
    <!--<dataSource name="oracle" connectionString="server=s2.wuerp.com; user id=dba; password=sql; database=wcsm;" />-->
    <!--<dataSource name="oracle" connectionString="server=127.0.0.1; user id=root; password=dbasql; database=wcsm;" />-->
    <!--cs-->
     <!--<datasource name="oracle" connectionstring="server=192.168.200.35; user id=root; password=abcd1234; database=wcsm;" />-->
	  <!--<datasource name="mysql" connectionstring="server=wpcdb9.cybe3h07xglb.rds.cn-north-1.amazonaws.com.cn; user id=wpcnxdb; password=eLLwj7cTdA.; database=wpcdb9;" />-->
	  <datasource name="mysql" connectionstring="server=wpcdb9.cybe3h07xglb.rds.cn-north-1.amazonaws.com.cn; user id=wpcdb9; password=a8!~)b9nct6; database=wpcdb9;" />
  </database>
  <!--<database>
    <provider name="oracle11.1" />
    <dataSource name="oracle" connectionString="Data Source=orcl;User ID=system;Password=abcd1234;Connection Timeout=3600" />
  </database>-->

  <alias>
    <typeAlias alias="NullValueTypeHandlerCallback" type="IDataAccess.NullValueTypeHandlerCallback,IDataAccess" />
    <typeAlias alias="FloatToDoubleHandlerCallback" type="IDataAccess.FloatToDoubleHandlerCallback,IDataAccess" />
    <typeAlias alias="BoolToStringHandlerCallback" type="IDataAccess.BoolToStringHandlerCallback,IDataAccess" />
  </alias>
  <typeHandlers>
    <typeHandler type="string" dbType="VARCHAR2" callback="NullValueTypeHandlerCallback" />
  </typeHandlers>

  <!--db与Model的映射文件-->
  <sqlMaps>
    <sqlMap embedded="DAL.Maps.APPR.xml"/>
    <sqlMap embedded="DAL.Maps.CUS.xml"/>
    <sqlMap embedded="DAL.Maps.CUSORG.xml"/>
    <sqlMap embedded="DAL.Maps.MDL.xml"/>
    <sqlMap embedded="DAL.Maps.NTCPUB.xml"/>
    <sqlMap embedded="DAL.Maps.PWR.xml"/>
    <sqlMap embedded="DAL.Maps.SORD.xml"/>
    <sqlMap embedded="DAL.Maps.SORDDTL.xml"/>
    <sqlMap embedded="DAL.Maps.STTCFG.xml"/>
    <sqlMap embedded="DAL.Maps.TASKDEAL.xml"/>
    <sqlMap embedded="DAL.Maps.USERPWR.xml"/>
    <sqlMap embedded="DAL.Maps.USERS.xml"/>
    <sqlMap embedded="DAL.Maps.USERCUS.xml"/>
    <sqlMap embedded="DAL.Maps.CUSAPPR.xml"/>
  </sqlMaps>

</sqlMapConfig>